<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Catalogo de productos</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">      
            <link rel="stylesheet" href="/css/catalogoProducto.css">
    
            <link href="/css/header-footer.css" rel="stylesheet">
    </head>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <section class="catalogo" > 
            <h3>Productos principales</h3>
            <div class="products">

            <% data.forEach(dataProducto=>{  %>
                <article>
                    <a href="/productos/detalle/<%= dataProducto.id %> ">
                        <img src="../img/<%= dataProducto.img %>" alt="producto_1" class="product_img"/>
                    </a>
                    <div class="main-article">
                        <a href="#"> <i class="fas fa-truck"></i> </a>
                        <p class="price"><%= dataProducto.price %> </p>
                        <p class="discount"><%= dataProducto.discount %> </p>
                        <h4 class="description"><%= dataProducto.title %></h4>
                    </div>
                </article>             
            <% } ); %>

        </section>   
        <section class="offers">
            <h3>Ofertas</h3>
            <div class="products">

                <%  data.forEach((elemento, index)=>{  %>              
                    <article>
                        <a href="/productos/detalle/<%= elemento.id %> ">
                            <img src="/img/<%=elemento.img %>" alt="producto_oferta_1" class="product_img"/>
                        </a>
                        <div class="main-article">
                            <a href="#"> <i class="fas fa-truck"></i> </a>
                            <p class="price"><%= elemento.price %> </p>
                            <p class="discount"><%= elemento.discount %></p>
                            <h4 class="description"><%= elemento.title %></h4>
                        </div>
                    </article>              
                <% } ); %>
           
            </div>  
        </section>
    </main>
    <%- include('./partials/footer.ejs')%>        
</body>
</html>