<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Catalogo de productos</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">      
            <link rel="stylesheet" href="/css/catalogoProducto.css">
    
            <link href="/css/header-footer.css" rel="stylesheet">
    </head>
<body>
    <%- include('./partials/header.ejs')%>
    
    <main>
        <section class="catalogo" > 
            <div class="botones">
                <div class="agregar">
                    <a href="/productos/create" class="agregar-producto">Agregar</a>
                </div>
            </div>
            <h3>Productos principales</h3>
            <div class="products">

                <% if (visited && visited.length > 0) { %>
                    <% for (let i = 0; i < visited.length && i < 4; i++) { %>
                        <article>
                            <a href="/productos/detalle/<%= visited[i].id %>">
                                <img src="../img/<%= visited[i].img %>" alt="producto_1" class="product_img"/>
                            </a>
                            <div class="main-article">
                                <a href="#"> <i class="fas fa-truck"></i> </a>
                                <p class="price"><%= visited[i].price %> </p>
                                <p class="discount"><%= visited[i].descuont %> </p> 
                                <h4 class="description"><%= visited[i].title %></h4>
                            </div>
                        </article>
                    <% } %>
                <% } else { %>
                    <p>No hay elementos para mostrar.</p>
                <% } %>
        </section>   
        <section class="offers">
            <h3>Ofertas</h3>
            <div class="products">
                <% if (inSale && inSale.length > 0) { %>
                 <% for (let i = 0; i < inSale.length && i < 4 ; i++) { %>
                    <article>
                        <a href="/productos/detalle/<%= inSale[i].id %> ">
                            <img src="/img/<%= inSale[i].img %>" alt="producto_oferta_1" class="product_img"/>
                        </a>
                        <div class="main-article">
                            <a href="#"> <i class="fas fa-truck"></i> </a>
                            <p class="price"><%= inSale[i].price %> </p>
                            <p class="discount"><%= inSale[i].descuont %></p>
                            <h4 class="description"><%= inSale[i].title %></h4>
                        </div>
                    </article>
                <% } %> 
                <% } else { %>
                    <p>No hay elementos para mostrar.</p>
                <% } %>      
            </div>  
        </section>
    </main>
    <%- include('./partials/footer.ejs')%>        
</body>
</html>