<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Eliminar usuario</title>
    <link rel="stylesheet"  href="/css/register.css">
    <link href="/css/header-footer.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('./partials/header.ejs')%>

    <% if (locals.errors && errors.length > 0) { %>
        <% errors.forEach(error => { %>
            <p><%= error.email.msg %></p>
        <% }); %>
    <% } %>
    <form action="/usuarios/delete/<%= user.id %>" method="POST" class="form-register" enctype="multipart/form-data">
        <h4>Editar usuario</h4>
        <div>
            <label for="name">NOMBRE</label>
            <input class="controls" type="text" name="firstName" id="name" placeholder="ej: Juan" value="<%= user.first_name %>">
        </div>
        <% if (locals.errors && errors.firstName) { %>
            <div class="text-danger">
                <%= errors.firstName.msg %>
            </div>
        <% } %>

        <div>
            <label for="lastname">APELLIDO</label>
            <input class="controls" type="text" name="lastName" id="lastname" placeholder="ej: Pérez" value="<%= user.last_name %>">
        </div>
        <% if (locals.errors && errors.lastName) { %>
            <div class="text-danger">
                <%= errors.lastName.msg %>
            </div>
        <% } %>
        <div>
            <label for="category">CATEGORÍA</label>
            <select name="category" id="category" class="controls">
                <% if (rol && rol.length > 0) { %>
                    <% for(let i = 0; i < rol.length; i++) { %>
                        <option value="<%= rol[i].id %>">
                            <%= rol[i].name %>
                        </option>
                    <% } %>
                <% } else { %>
                    <option value="">No hay roles disponibles</option>
                <% } %>
        </div>
        <% if (locals.errors && errors.category) { %>
            <div class="text-danger">
                <%= errors.category.msg %>
            </div>
        <% } %>

        <div>
            <label for="email">EMAIL</label>
            <input class="controls" type="text" name="email" id="email" placeholder="ej: juanperez@email.com" value="<%= user.email %>">
        </div>
        <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
        <% } %>

        <div>
            <label for="password">CONTRASEÑA</label>
            <input class="controls" type="password" name="password" id="password">
        </div>
        <% if (locals.errors && errors.password) { %>
            <div class="text-danger">
                <%= errors.password.msg %>
            </div>
        <% } %>

        <div>
            <label for="avatar">FOTO DE PERFIL (.jpg, .png, .gif)</label>
            <input type="file" id="avatar" name="avatar" accept="image/*" class="form-img">         
        </div>
        <% if (locals.errors && errors.avatar) { %>
            <div class="text-danger">
                <%= errors.avatar.msg %>
            </div>
        <% } %>

        <div>
            <button class="botom" type="submit">ELIMINAR USUARIO</button>
            
        </div>  
        <p>¿Tienes una cuenta? <a href="/usuarios/login">Iniciar sesión</a></p> 
    </form>    
    <%- include('./partials/footer.ejs')%>   
</body>

</html>