<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Productos</title>

    <link rel="stylesheet"  href="/css/formAltaProducto.css">
    <link href="/css/header-footer.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <%- include('./partials/header.ejs')%>

    <div class="contenedor">

        <h4>Alta de Producto</h4>
    
        <form action="/productos/create" method="POST" enctype="multipart/form-data" id="formulario" class="formulario">
            <div class="campo">
                <label for="title">Nombre del Producto:</label>
                <input type="text" id="title" name="title" value="<%= locals.oldData ? oldData.title : null %>">
                <div id="titleError" class="error"></div>
                
            </div>
            <% if (locals.errors && errors.title) { %>
                <div class="text-danger">
                    <%= errors.title.msg %>
                </div>
            <% } %>

            <div class="campo">
                <label for="color">Color del Producto:</label>
                <input type="text" id="colors" name="colors" value="<%= locals.oldData ? oldData.colors : null %>">
            </div>
            <div id="colorsError" class="error"></div>
            <% if (locals.errors && errors.colors) { %>
                <div class="text-danger">
                    <%= errors.colors.msg %>
                </div>
            <% } %>

            <div class="campo">
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category"  class="options">
                    <% for (let i= 0; i < categorias.length; i++) { %>
                        <option value="<%=categorias[i].id%>">
                            <%=categorias[i].name %>
                        </option>
                    <% } %>
                </select>
            </div> 
            <div id="categoryError" class="error"></div>
            <% if (locals.errors && errors.category) { %>
                <div class="text-danger">
                    <%= errors.category.msg %>
                </div>
            <% } %>
 
            <div class="campo">
                <label for="price">Precio:</label>
                <input type="text" id="price" name="price" value="<%= locals.oldData ? oldData.price : null %>">
                <div id="priceError" class="error"></div>
            </div>
            <% if (locals.errors && errors.price) { %>
                <div class="text-danger">
                    <%= errors.price.msg %>
                </div>
            <% } %>

            <div class="campo">
                <label for="description">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4"> <%= locals.oldData ? oldData.descripcion : null %></textarea>
                <div id="descripcionError" class="error"></div>
            </div>
            <% if (locals.errors && errors.descripcion) { %>
                <div class="text-danger">
                    <%= errors.descripcion.msg %>
                </div>
            <% } %>

            <div class="campo">
                <label for="discount">Descuento:</label>
                <input type="text" id="discount" name="discount" value="<%= locals.oldData ? oldData.descuont : null %>">
            </div>
            <% if (locals.errors && errors.descuont) { %>
                <div class="text-danger">
                    <%= errors.descuont.msg %>
                </div>
            <% } %>

            <div class="campo">
                <label for="image">Imagen:</label>
                <input type="file" id="image" name="img" accept="image/*" class="input-img">
            </div>
            <div id="imgError" class="error"></div>
            <% if (locals.errors && errors.img) { %>
                <div class="text-danger">
                    <%= errors.img.msg %>
                </div>
            <% } %>

            <div class="botones">
                <a href="/productos/catalogo"><button type="button" class="btn-cancelar">Cancelar</button></a>
                <button class="btn-guardar" type="submit">Guardar</button>
            </div>
        </form>
        
    </div>
    <%- include('./partials/footer.ejs')%> 
    <script src="/js/validationCreateProduct.js"></script> 
</body>
</html>