<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar Sesión</title>
        <link rel="stylesheet"  href ="/css/login.css ">
        <link href="/css/header-footer.css" rel="stylesheet"> 
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <%- include('./partials/header.ejs')%>
        <div >
            <form action="/usuarios/log" method="POST" class ="form-login" id="login">
            <h5>Bienvenido a Hebra Libre</h5>

            <div class="form-group text-danger">
            <input class="input-text" type="text" name="email" placeholder="Email" id="username" data-testid="emailInput" value="<%= locals.oldData ? oldData.email : null %>">
            <p id="emailError" class="text-danger"> 
            </div>
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
        
            <div class="form-group text-danger">
                <input class="input-text" name="password" type="password" placeholder="Contraseña" autocomplete="false" id="password">
                <p id="passwordError" class="text-danger"></p>
            </div>
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %>
                </div>
            <% } %>

            <div class="contenedor-recuperar">
                <input type="checkbox" id="recordar" name="recordar">
                <label for="recordar" class="estilo-label">Recordarme</label>
                <br>
            </div>

            <div>
                <button class="button_ingresar" type="submit">INGRESAR</button>
            </div>
        
            </form>
        </div>
        <%- include('./partials/footer.ejs')%>   
        <script src="/js/validacionFormularioLogin.js"></script>
  </body>
 
</html>