<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/contact.css">

    <link href="/css/header-footer.css" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <div class="profile-contenedor">
            <img src="/img/<%= user.avatar %>" alt="<%= user.firstName %>">
            <h2><%=user.firstName %></h2>
            <p><%= user.email %></p>
        </div> 
    </main>
</body>
</html>